# Server environmental variables
SERVER_PORT=your data
# BOT environment variables
BOT_TOKEN=your data
# DB environment variables
POSTGRES_DB=your data
POSTGRES_USER=your data
POSTGRES_PASSWORD=your data
DB_HOST=your data
DB_PORT=your data
# SEARCH URLS environment variables
SEARCH_URL_SENS=your data
SEARCH_URL_EKNYGARNYA=your data
SEARCH_URL_YAKABOO=your data
SEARCH_URL_ZHUPANSKY=your data
SEARCH_URL_BOOKLING=your data
SEARCH_API_URL_READEAT=your data
BASE_URL_READEAT=your data
SEARCH_URL_KSD=your data
SEARCH_URL_VIVAT=your data
API_SEARCH_URL_OLD_LION=your data
SEARCH_URL_OLD_LION=your data
SEARCH_URL_MBOOKS=your data
BASE_URL_MBOOKS=your data
SEARCH_URL_FABULA=your data
# REDIS environment variables
REDIS_HOST=your data
REDIS_PORT=your data
REDIS_SCHEME=your data
GOOGLE_BOOK_API_KEY=your data
GOOGLE_RATING=your data
WEBHOOK_BASE_URL=your data